* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11px;
}
window > box {
  margin-left: 4px;
  margin-right: 4px;
  background: @theme_base_color;
  padding: 2.5px;
  padding-right: 6px;
  border: 2px solid @unfocused_borders;
  border-radius: 7px;

  /* uncomment if waybar>position: top */
  /*margin-top: 4px;*/

  /* uncomment if waybar>position: bottom */
  margin-bottom: 4px;
}

window#waybar {
  background: transparent;
  /*background: @theme_base_color;*/
  /*border-bottom: 1px solid @unfocused_borders;*/
  color: @theme_text_color;
  transition-property: background-color;
  transition-duration: 0.5s;

  /* background: shade(alpha(@borders, 0.9), 0); */
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

window#waybar.kitty {
  background-color: #282828;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button {
  min-width: 20px;
  padding: 0 5px;
  background: rgba(0, 0, 0, 0.2);
  color: #d4be98;
  border-radius: 5px;
  margin-right: 2.5px;
}

#workspaces button:hover {
  background-color: #d4be98;
  color: #1d2021;
}

#workspaces button.empty {
  background: @theme_base_color;
}

#workspaces button.empty:hover {
  background: #a89984;
  color: #1d2021;
}

#workspaces button.active {
  background-color: #a89984;
  color: #1d2021;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  box-shadow: inset 0 -3px #ffffff;
}

#custom-launcher {
  color: rgb(201, 203, 255);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-power,
#custom-launcher,
#workspaces,
#window,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-notification,
#privacy,
#taskbar,
#mpd {
  padding: 5px 7.5px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#custom-power:hover,
#power-profiles-daemon:hover,
#custom-notification:hover,
#privacy:hover,
#mpd:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#taskbar button {
  padding: 0 5px;
  padding-left: 7px;
  margin: 0 1px;
  border-radius: 5px;

  background: @theme_base_color;
}
#taskbar button:hover {
  background: rgba(0, 0, 0, 0.2);
}
#tray {
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#window,
#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: rgb(255, 255, 255);
}

#battery.full {
  color: rgb(181, 232, 224);
}

#battery.discharging {
  color: rgb(255, 255, 255);
}

#battery.charging,
#battery.plugged {
  color: rgb(250, 227, 176);
}

@keyframes blink {
  to {
    background-color: rgb(242, 143, 173);
    color: rgb(26, 24, 38);
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: rgb(242, 143, 173);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
}

#power-profiles-daemon.performance {
  color: rgb(249, 226, 175);
}

#power-profiles-daemon.balanced {
  color: rgb(150, 205, 251);
}

#power-profiles-daemon.power-saver {
  color: #abe9b3;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #d4be98;
}

#memory {
  color: #d4be98;
}

#disk {
}

#backlight {
  color: rgb(248, 189, 150);
}

#network {
  color: #abe9b3;
}

#network.disconnected {
  color: rgb(242, 143, 173);
}

#pulseaudio {
  color: rgb(245, 224, 220);
}

#pulseaudio.muted {
  color: #2a5c45;
}

#wireplumber {
  color: #000000;
}

#wireplumber.muted {
}

#custom-media {
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#custom-power {
  color: rgb(242, 143, 173);
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}

#temperature {
  color: rgb(150, 205, 251);
}

#temperature.critical {
  color: rgb(242, 143, 173);
}

#tray {
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#idle_inhibitor {
  color: rgb(221, 182, 242);
  margin-right: 10px;
}

#idle_inhibitor.activated {
  color: rgb(205, 214, 244);
}

#mpd {
  color: #c0caf5;
}

#mpd.disconnected {
}

#mpd.stopped {
  background: transparent;
}

#mpd.paused {
  color: #414868;
  font-style: italic;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
}

#privacy-item {
  color: white;
}

#privacy-item.screenshare {
  color: #cf5700;
}

#privacy-item.audio-in {
  color: #1ca000;
}

#privacy-item.audio-out {
  color: #0069d4;
}

#custom-cava-internal {
  font-family: "JetBrainsMono Nerd Font";
}
